@page
@model RegisterModel
@{
	ViewData["Title"] = "Регистрация";
}

<link rel="stylesheet" href="~/css/Register.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rowdies:wght@300&family=Russo+One&display=swap" rel="stylesheet">

<div class="container_main justify-content-center">
	<a class="logo_" asp-area="" asp-controller="Home" asp-action="Index">
		<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect class="recta" width="41" height="41" rx="3" fill="#FF4F5A" />
			<rect x="15.375" y="10.25" width="21.7812" height="5.125" fill="white" />
			<rect x="15.375" y="19.2188" width="21.7812" height="5.125" fill="white" />
			<rect x="15.375" y="28.1875" width="21.7812" height="5.125" fill="white" />
		</svg>
		ToDo Daily
	</a>

	<h4>Регистрация</h4>

	<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div class="div1 w_90">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Input.NickName" class="form-control inp" aria-required="true" />
				<label asp-for="Input.NickName"></label>
				<span asp-validation-for="Input.NickName" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Email" class="form-control inp" autocomplete="email" aria-required="true" />
				<label asp-for="Input.Email"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Password" class="form-control inp" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.Password">Пароль</label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.ConfirmPassword" class="form-control inp" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.ConfirmPassword">Подтвердите пароль</label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			<div>
				<button id="registerSubmit" type="submit" class="w-100 button">Зарегистрироваться</button>
			</div>
		</div>
	</form>

	<div class="border-top line">
		<style>
			.line {
				margin: 20px 0 20px 0;
			}
		</style>
	</div>

	<p>У вас уже есть аккаунт?<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"> Войти</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
