<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - web_ToDoList</title>
	<link rel="stylesheet" href="~/css/Layout.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/web_ToDoList.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rosario&family=Rowdies:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" href="~/icon.png" />

	@using Microsoft.AspNetCore.Identity
	@using web_ToDoList.Areas.Identity.Data

	@inject SignInManager<ApplicationUser> SignInManager
	@inject UserManager<ApplicationUser> UserManager
</head>
<body>
	<header>
		<nav>
			<div class="container_">
				<a class="logo_" asp-area="" asp-controller="Home" asp-action="Index">
					<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect class="recta" width="41" height="41" rx="3" fill="#FF4F5A" />
						<rect class="in_rec" x="15.375" y="10.25" width="21.7812" height="5.125" fill="white" />
						<rect class="in_rec" x="15.375" y="19.2188" width="21.7812" height="5.125" fill="white" />
						<rect class="in_rec" x="15.375" y="28.1875" width="21.7812" height="5.125" fill="white" />
					</svg>
					ToDo Daily
				</a>

				<div class="nav_">
					@if (SignInManager.IsSignedIn(User))
					{
						<div class="dropdown">
							<a class="text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								@ViewBag.NickName
							</a>
							<ul class="dropdown-menu">
								<li>
									<a id="manage" class="text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
											<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
										</svg>
										Профиль
									</a>
								</li>
								<li>
									<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
										<button id="logout" type="submit" class="logout_">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
												<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
											</svg>Выйти
										</button>
									</form>
								</li>
							</ul>
						</div>
					}
					else
					{
						<a class="login" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
						<a id="register" asp-area="Identity" asp-page="/Account/Register">Signup</a>
					}
				</div>

			</div>
		</nav>
	</header>

	<div>
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="foot">
			<a class="logo_" asp-area="" asp-controller="Home" asp-action="Index">
				<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect class="recta" width="41" height="41" rx="3" fill="#FF4F5A" />
					<rect x="15.375" y="10.25" width="21.7812" height="5.125" fill="white" />
					<rect x="15.375" y="19.2188" width="21.7812" height="5.125" fill="white" />
					<rect x="15.375" y="28.1875" width="21.7812" height="5.125" fill="white" />
				</svg>
			</a>
			<p>Давайте изменим ваши привычки! Присоединяйтесь!</p>
		</div>
		<div class="author">
			<p>Нурканат Траисов</p>
			<p class="text-muted">Уральск, Казахстан</p>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
